/node_modules/*
/mood-meter-app/node_modules/*

# misc
.DS_Store
.env.*
!.env.sample

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sentry Config File
.env.sentry-build-plugin

# Ignore unnecessary vscode config.
/.vscode

# Ignore JetBrains project files
/.idea
